* {
  box-sizing: border-box;
}
/****************** 
Navigation
*******************/
.nav-wrapper {
  width: 100%;
  padding: 6px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
}
.nav {
  list-style-type: none;
  margin: o;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.nav li {
  display: inline;
}
.nav-wrapper .nav li a {
	position: relative;
	font-size: 13px;
	font-weight: 700;
  color: #ddd;
  text-align: center;
  text-decoration: none;
}
.nav-wrapper .nav li a:after {
	content: "";
	display: none;
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 6px;
	left: 10%;
	transition: all .28s ease-in-out;
}

/* ********************
END NAVIGATION
 ***********************/



/********************
HOME 
 *********************/

#home {
  position: relative;
  height: 100%;
  min-height: 550px;
  background-image: url(/img/toba.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar-hero img {

  width: 150px;
  margin: 0 auto;
  border: solid 3px #dfdfdf;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
}