* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}
/* navigation section */
.nav-wrapper {
  width: 100%;
  padding: 6px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.52);
  z-index: 100;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
}
ul li {
  display: inline;
} 

ul li a{
  position: relative;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.52);
  border-bottom: 2px solid #fff;
  transition-property: border-bottom;
  transition-duration: 1s;
}

ul li a:hover {
  border-bottom: 2px solid #aab74f;
}

/* Home section */
#home {
  position: relative;
  background: url(/img/toba.JPG);
  height: 100%;
  min-height: 650px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
    
}
.home-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.avatar-hero img {
  width: 150px;
  margin: 0 auto;
  border: solid 3px #dfdfdf;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
}


/* end of who section */

