* {
  box-sizing: border-box;
}

html {
  background: rgba(0, 0, 0, 90%);
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: blanchedalmond;
}
/* navigation section */

header {
  margin: 10px;
  position: inline-block;
  left: 0;
  right: 0;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 10px;
  position: relative;
}
nav li a {
  font-weight: 900;
  color: blanchedalmond;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  padding: 5px;
}


nav li a:hover {
  color: aliceblue;
}

nav li a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: beige;
  position: absolute;
  top: 20px;
  width: 0;
  border-radius: 50%;
}
nav li a:hover::before {
  width: 100%;
}
/* who section */
#who {
  position: relative;
  background: url(/img/IMG_1914.JPG);
  height: 50vw;
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#first-header { 
  display: block;
  align-content: center;
  padding-top: 100px; 
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 3vw; 
   
}

#contentWho {
  color: antiquewhite;
  
}
/* end of who section */



/* what section */
#project-link {
  text-decoration: none;
  font-weight: 700;
  color: wheat;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#b1 {
  height: 20vw;
  display:none;
  background-image: url(/img/IMG_1914.JPG);
  background-size: cover;
  background-repeat: no-repeat;

}
#b1 p {
  background: rgba(0, 0, 0, 0.582);
}

#b2 {
  height: 20vw;
  display:none;
  background-image: url(/img/IMG_1739.JPG);
  background-size: cover;
  background-repeat: no-repeat;

}

#b3 {
  height: 20vw;
  display:none;
  background-image: url(/img/camphoto_1483920592.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}


/* where section */
/* footer */







#whereContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:  rgba(0, 0, 0, 10%);
  width: 100%;
  margin: 30px auto;
  padding: 30px 30px;
}

#linkToProfile {
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
}

#codewars, #github, #freecodecamp, #linkedin {
  position: relative;
  display: inline-block;
  
  box-sizing: border-box;
  width: 300px;
  height: auto;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}
#details {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  transform: scaleY(0);
  transition: transform 0.3s;
}

#github:hover #details{
  background-color: rgb(115, 39, 187);
  transition-property: background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);
}
#codewars:hover #details{
  background-image: url(https://www.codewars.com/users/akomiqaia/badges/large);
  background-color: rgb(141, 38, 38);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-image, background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);
}
#freecodecamp:hover #details {
  background-image: url(/img/freeCodeCamp.png);
  background-color: green;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-image, background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);  
}
#linkedin:hover #details{
  background-color: rgb(0, 0, 194);
  transition-property: background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);
}

@media only screen and (max-width: 600px) {
  html {
    background: rgba(0, 0, 0, 90%);
  }

  /* who section */
#who {
  position: relative;
  background: url(/img/IMG_1914.JPG);
  height: 100vw;
  background-size: cover;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#first-header { 
  color: antiquewhite;
  display: block;
  align-content: center;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 6vw; 
   
}


/* end of who section */

/* what section */
.column {
  float: left;
  width: 33%;
  padding: 20px;
  text-align: center;
  font-size: 5vw;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

.closebtn {
  font-size: 6vw;
}

#b1 {
  height: 70vw;
  display:none;
  background-image: url(/img/IMG_1914.JPG);
  background-size: cover;
  background-repeat: no-repeat;

}
#b1 p {
  background: rgba(0, 0, 0, 0.582);
  font-size: 6vw;
}

#b2 {
  height: 70vw;
  display:none;
  background-image: url(/img/IMG_1739.JPG);
  background-size: cover;
  background-repeat: no-repeat;

}

#b2 p {
  background: rgba(0, 0, 0, 0.582);
  font-size: 6vw;
}

#b3 {
  height: 70vw;
  display:none;
  background-image: url(/img/camphoto_1483920592.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

#b3 p {
  background: rgba(0, 0, 0, 0.582);
  font-size: 6vw;
}

/* end of what section */
}