* {
  box-sizing: border-box;
}

html {
  background: rgba(0, 0, 0, 90%);
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: blanchedalmond;
}
/* HEADER */

header {
  margin: 10px;
  position: inline-block;
  left: 0;
  right: 0;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 10px;
  position: relative;
}
nav li a {
  font-weight: 900;
  color: blanchedalmond;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  padding: 5px;
}


nav li a:hover {
  color: aliceblue;
}

nav li a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: beige;
  position: absolute;
  top: 20px;
  width: 0;
  border-radius: 50%;
}
nav li a:hover::before {
  width: 100%;
}
/* who section */
#who {
  position: relative;
  height: 600px;
  background: url(/img/DSC_0233.JPG);
  size: auto 600px;;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* i need an animation.... the screen just will say that it is
a personal portfolio of somebody or something similar, maybe 
say that the page was created to applie to coders and founders */
#first-header { 
  display: block;
  padding: 50px;  
  font-family: "Ubuntu", sans-serif;
  font-size: 110%;
  text-align: justify;
  font-size: 36px; 
   
}

#contentWho {
  color: antiquewhite;
  
}
/* what section */
#project-link {
  text-decoration: none;
  font-weight: 700;
  color: wheat;
}
/* where section */
/* footer */





img {
  max-width: 300px;
  height: auto;
  padding: 10px 10px;
}


#whereContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:  rgba(0, 0, 0, 10%);
  width: 100%;
  margin: 30px auto;
  padding: 30px 30px;
}

#codewars, #github, #freecodecamp, #linkedin {
  position: relative;
  display: inline-block;
  
  box-sizing: border-box;
  width: 300px;
  height: auto;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}
#details {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  transform: scaleY(0);
  transition: transform 0.3s;
}

#github:hover #details{
  background-color: rgb(115, 39, 187);
  transition-property: background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);
}
#codewars:hover #details{
  background-color: rgb(141, 38, 38);
  transition-property: background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);
}
#freecodecamp:hover #details {
  background-color: rgb(2, 100, 2);
  transition-property: background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);  
}
#linkedin:hover #details{
  background-color: rgb(0, 0, 194);
  transition-property: background-color;
  transition-duration: 0.3s;
  transform: scaleY(1);
}

@media only screen and (max-width: 600px) {
  html {
    background-color: red];
  }
}