* {
  box-sizing: border-box;
}
header {
  /* position: fixed; */
  margin: 1em;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 1em;
  position: relative;
}